.idea/
/VSMS.API.sln.DotSettings.user
/VSMS.Common/obj/
/VSMS.Common/bin/
/VSMS.Utilities/obj/
/VSMS.Utilities/bin/
appsettings.Development.json
appsettings.Production.json

# Main API project
VSMS.Application/obj/
VSMS.Application/bin/
VSMS.Application/appsettings.Development.json
VSMS.Domain/obj/
VSMS.Domain/bin/
VSMS.Repository/obj/
VSMS.Repository/bin/
VSMS.Infrastructure/obj/
VSMS.Infrastructure/bin/

# Message Service integration
/MessageService.Infrastructure/obj/
/MessageService.Infrastructure/bin/
/MessageService.Domain/obj/
/MessageService.Domain/bin/
